Package: nginx-module-modsecurity
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Depends: nginx (>= 1.2.13), libyajl2, openssl
Maintainer: Tom Van de Velde <vdvelde.t@gmail.com>
Description: ModSecurity
 compiled as module for Nginx
 
